.container {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    margin-left: 10%;
    margin-right: 10%;
    
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    border: 1px solid black;
}

.base {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10%;
    padding-left: 10%;

    border: 1px solid black;
    align-content: right;
    margin: 3%;
    color: purple;

}

.abilityInfo {
    display: grid;
    padding: 2%;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    grid-column-gap: 1%;
    margin: 3%;
    color: purple;
}

.abilityOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    border: 1px solid black;

    margin: 3%;
    color: purple;
}

.abilityTwo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    border: 1px solid black;

    margin: 3%;
    color: purple;
}

.abilityThree {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
    border: 1px solid black;

    margin: 3%;
    color: purple;
}

.abilityFour {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    padding: 2%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    border: 1px solid black;

    margin: 3%;
    color: purple;
}

.submit {
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    padding: 1%;
    grid-row: 4;
    border: 1px solid black;
    color: purple;
}