.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    margin: 1%;
  
    justify-content: center;
    align-content: center;
     
    background: white;
    }
    
  .combatant1 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid black;  
  }
  
  
  .arena { 
  
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    border: 1px solid black;
    justify-items: center;
    justify-self: stretch;
    background-color: white;
    
  }
  
  .combatant2 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px solid black;
  }
  
  .finalDisplay {
    display: grid;
    justify-content: center;
    align-content: center;
  }